/* Structure */
#container { width: 810px; margin: 20px auto 0; }

	#content { background: #f0f0f0; border-radius: 5px; border-top-left-radius: 0; border-top-right-radius: 0; padding: 30px; border-top: 5px solid #cccccc; }

	#multiselectWidgetLeft, #multiselectWidgetRight { float: left; background: #e7e7e7; margin: 0 10px 10px 0; width: 235px; border-radius: 5px; border-radius: 5px; padding-right: 10px; }
	#multiselectWidgetRight { margin: 0; }

/* Headers */
h2 { font: 22px arial; margin: 0 0 20px; }
h3 { font: 18px arial; margin: 0 0 10px; }
	
/* Lists */
ul { margin: 10px 0; }
li { font: 13px/20px Arial; color: #666666; list-style: disc; margin: 0 0 0 13px; }

#multiselectWidget li { list-style: none; margin: 0; }
#multiselectWidget li div { background: #d8d8d8; border-radius: 5px; margin: 0 0 10px; padding: 3px 10px; }
#multiselectWidget ul { margin: 10px 0 0 10px; }
#multiselectWidget ul ul { margin-left: 10px; }
#multiselectWidget li span a { float: right; }

#multiselectWidget li span a.open { text-indent: -1000em; background: url(../images/open.png) no-repeat; width: 16px; height: 16px; position: relative; top: 2px; }
#multiselectWidget li span a.close { text-indent: -1000em; background: url(../images/close.png) no-repeat; width: 16px; height: 16px; position: relative; top: 2px; }
#multiselectWidget li span a.add { text-indent: -1000em; background: url(../images/add.png) no-repeat; width: 16px; height: 16px; position: relative; top: 2px; }
#multiselectWidget li span a.remove { text-indent: -1000em; background: url(../images/remove.png) no-repeat; width: 16px; height: 16px; position: relative; top: 2px; }

#multiselectWidget ul ul { display: none; }

/* Paragraphs */
#content p { font: 13px/20px Arial; color: #666666; margin: 0 0 10px; }

/* links */
a { color: #000099; }
a:hover { text-decoration: underline; }

/* Images */


/* Forms */
fieldset { width: 500px; margin: 0 0 40px 250px; padding: 0 0 10px; border-bottom: 1px dotted #666; }
fieldset.last { margin-bottom: 0; padding: 0; border: none; }
fieldset legend { position: absolute; margin-left: -250px; color: #233e68; font: 26px edelsansRegular; }

label { float: left; width: 120px; }
label .required { color: red; }
input[type="text"], input[type="password"] { border: 1px solid #d2d5dc; background: #ffffff; padding: 4px; width: 270px; }
input[type="submit"] { border: none; background: -moz-linear-gradient(top, #f3f3f3 0%, #c5c5c5 100%); background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#c5c5c5)); border-radius: 5px; -moz-box-shadow: 1px 1px 2px #888; -webkit-box-shadow: 1px 1px 2px #888; position: relative; top: 7px; padding: 7px 20px 5px; color: #3d5998; text-align: center; cursor: pointer; }

/* Tables */


/* Random Classes */


