<!doctype html>
<head>
<title>Multivalue Widget</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

{% block body %}{% endblock %}

</body>
</html>